body {
    background-color: rgba(163, 235, 221, 0.459);
    margin: 0;
    }

/* MENU */

.logo {
    display: inline-block;
    float: left;
    height: 125px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-top: 25px;
    margin-right: 80px;
    text-align: center;
    width: 125px;
}
.nav {
    background-image: url(/images/menu.jpg);
    font-family: 'Yanone Kaffeesatz', sans-serif;;
    overflow: hidden;
    }

.topnav a {
    color: #f2f2f2;
    display: block;
    float: left;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px;
    margin-left: 80px;
    margin-top: 55px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
         }

.topnav a.active {
                background-color: #4CAF50;
                color: #ffff;
                }

.topnav a:hover {
               background-color: #ddd;
               color: #000000;
               }


/* CELLPHONE'S MENU */


.topnav .icon {
             display: none;
             }

@media screen and (max-width: 768px) {
#phone {
       margin-top: 100px;
       }
       
.topnav a {
           display: none;
           margin-left: 0;
           }
           
.topnav a.icon {
                display: block;
                float: right;
                }

.topnav.responsive {
                    position: relative;
                    }

.topnav.responsive a {
                      display: block;
                      float: none;
                      margin: 0;
                      text-align: center;
                      top: 50px;
                      }

.topnav.responsive .icon {
                          position: absolute;
                          right: 20px;
                          top: -75px;
                          }
                          }

/* HOME */

.slidershow{
    border: 2px solid #99005778;
    width:600px;
    height:300px;
    overflow:hidden;
    margin-top: 10%;
}

.middle{
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.navigation{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid rgb(112, 38, 38);
    top: 10px;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: rgb(160, 93, 93);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;

}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height:100%;
}

#r1:checked ~ .s1{
    margin-left: 0;

}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

/* INFO */


.active, .collapsible:hover {
    background-color: #fff;
    }
    
.btnactive:after {
content: "\2212";
}

.collapsible {
background-color: #fff;
border: none;
color: #444;
cursor: pointer;
font-family: 'Roboto Condensed';
font-size: 23px;
font-variant: all-small-caps;
font-weight: 500;
letter-spacing: 0.6px;
outline: none;
padding: 8px 18px 10px;
text-align: left;
width: 100%;
}

@media screen and (max-width: 480px) {
             .collapsible
             {
              font-size: 20px;
              }
              }

.collapsible:after {
color: #555;
content: '\002B';
float: right;
font-family: 'Roboto';
font-size: 25px;
font-weight: 400;
margin-left: 5px;
margin-top: -2px;
}

@media screen and (max-width: 480px) {
             .collapsible:after
             {
              margin-top: -4px;
              }
              }

.contenido {
background-color: #fff;
max-height: 0;
overflow: hidden;
padding: 0 18px;
transition: max-height 0.2s ease-out;
}

.contenido p {
letter-spacing: 0.5px;
line-height: 1.75;
}

@media screen and (max-width: 480px) {
             .contenido p
            {
             font-size: 18px;
             }
             }

.info-block {
margin-left: 50px;
margin-top: 60px;
width: 500px;
}

@media screen and (max-width: 480px) {
             .info-block
            {
             margin-top: 55px;
             width: auto;
             }
             }

.info-block-first {
margin-left: 50px;
margin-top: 30px;
width: 500px;
}

@media screen and (max-width: 480px) {
             .info-block-first
            {
             margin-left: 20px;
             margin-right: 20px;
             margin-top: 50px;
             width: auto;
             }
             }

.info-button {
border: 1px solid #dee0e7;
margin-top: 20px;
}

.info-button p {
padding: 10px 0 20px;
}

.info-cat {
color: #555;
font-family: MyriadProSemiCondensed;
font-size: 26px;
font-weight: 600;
margin: 10px 0 20px 0;
top: 20px;
}

@media screen and (max-width: 480px) {
             .info-cat
            {
             font-size: 24px; 
             font-weight: normal;
             }
             }


